<header>
    <div class="guide-container">
        <nav class="nav-header">
            <div class="home" style="border:3px solid #ccc;">
                <a href="">首頁</a>
            </div>
            <div class="key-word-search">
                <form method="GET" action="">
                    <input type="search" name="" placeholder="請輸入關鍵字">
                    <button><img src="">查詢</button>
                </form>
            </div>
            <div class="link-icon">
                <div class="icon-login">
                    <a  href=""><img src=""></a>
                    登入
                </div>
                <div class="icon-contact">
                    <a  href=""><img src=""></a>
                    聯絡我們
                </div>
                <div class="icon-car">
                    <a  href=""><img src=""></a>
                    購物車
                </div>
            </div>
        </nav>
    </div>
</header>